<section id="home" class="section">
    <div class="container">
        <h1>Your Name</h1>
        <p class="subtitle">Machine Learning Engineer | Software Developer | DevOps Engineer</p>
        <div class="social-links">
            <a href="https://huggingface.co/volkopat" target="_blank"><i class="fab fa-huggingface"></i></a>
            <a href="https://linkedin.com/in/dekay" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/volkosthoughts" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</section> 